body{
    background-color: #cafefc;
    color: #ffff;
}
.box{
    margin: 50px;
    padding: 30px;
    background-color: aquamarine;
}
.container-1{
    display: flex;
    width:  800px;
    height: auto;
    background-color: rgba(70, 200, 229);
    margin: 30px;
    flex-wrap: wrap;
}
.container-2{
    display: flex;
    width: 400px;
    height: auto;
    background-color: rgb(70, 173, 229);
    margin: 30px;
    flex-wrap: wrap;
}
.container-3{
    display: flex;
    width: auto;
    height: auto;
    background-color: rgb(70, 173, 229);
    margin: 30px;
}
.item{
    display: flex;
    width: 180px;
    height: 70px;
    background-color: rgba(1, 9, 255, 0.662);
    margin: 20px auto;
    border-radius: 10px;
    font-size: 2em;
    font-family: fantasy;
    display: block;
    text-align: center;
    padding: 24px 0 0 0;

}
